<p id="notice"><%= notice %></p>

<%= link_to 'Back', people_path %>

<h1>
  <%= @person.name %>
</h1>

<p>
	<%= number_to_human( @person.appearances.count) +  " appearance".pluralize(@person.appearances.count) %>:
</p>

<ul>
	<% @person.appearances.sort_by(&:date).reverse.each do |appearance| %>
	<li>
		<%= link_to appearance.date, appearance %>
	</li>
	<% end %>
</ul>