<p id="notice"><%= notice %></p>

<%= link_to 'Back', people_path %>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
	Appearances: <%= @person.appearances.count %>
</p>

<ul>
	<% @person.appearances.sort_by(&:date).reverse.each do |appearance| %>
	<li>
		<%= appearance.date %>
	</li>
	<% end %>
</ul>